@model Kemergency.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @*<div class="container signin-container">
        <div class="row">
            <div class="col"></div>

            <div class="col-sm-12 col-md-8">
                <div class="card signin-card">
                    <div class="card-body ">
                        <img src="~/" class="img-fluid signin-img">
                        <form method="post" asp-action="Login" class="signin-form" >
                           
                            <div class=" form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class=" form-group">


                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">

                                <button type="submit" class="btn btn-primary">داخل کیدل</button>

                            </div>


                        </form>
                    </div>
                </div>
                <a  asp-action="Regester" asp-controller="Account" asp-area="Identity" class="create-account">نوی یاست</a>
            </div>
            <div class="col"></div>
        </div>
    </div>*@
  <style>
      .formContainer {
          box-shadow: 4px 8px 16px #d7d7d7;
          
        padding : 20px;
          border-radius: 0px 0px 4px 4px;
      }

      input {
          box-shadow: none !important;
          outline: none;
      }

      #formHeading {
          background: #EC407A;
          margin: -20px;
          border-radius: 4px 4px 0px 0px
      }
  </style>


<div class="p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-lg-3 mx-auto">
                <div class="formContainer">
                    <h2 class="p-2 text-center mb-4 h4" id="formHeading">ننوتل</h2>
                    <form method="post" asp-action="Login">
                        <div class="form-group mt-3">
                            <input asp-for="Email" class="form-control" placeholder="بریښنا لیک" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">

                            <input asp-for="Password" class="form-control" placeholder="رمز" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="mt-3">
                            <input type="checkbox" /> یاد ساتل
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg w-100 mt-4 mb-3">داخل کیدل</button>

                    </form>
                    <a asp-area="Identity" asp-controller="Account" asp-action="Regester" class="create-account mt-4">نوي ياست</a>
           
                </div>
            </div>
        </div>
    </div>
</div>
  



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
