<div class="sectionFooter">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <h6>  زموږ مبایل اپلیکشن </h6>
                    <p>تاسي به زموږ مبایل اپلیکشن هم په لنډ وخت کي تر لاسه کړي</p>
                    <div class="app-logo">
                        <img>
                        <img>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <img src="">
                    <p>
                        زموږ هدف پر وخت د اطفایه او امبولانس ته لاس رسي دي د ښاریانو
                    </p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h6>  خدمات</h6>
                    <ul>
                        <li>امبولانس</li>
                        <li>اطفایه</li>
                        <li>داکټر</li>

                    </ul>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h6>موږ درسره تعقیب کړي</h6>
                    <ul>
                        <li>فیسبوک</li>
                        <li>انسټاګرام</li>


                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">ددي ویب پاڼي حوقوق د حمیدالله سره خوندي دي</p>
        </div>
    </div>
</div>