@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


<nav class="navbar navbar-expand-lg navbar-light bg-inverse">
    <a class="navbar-brand" href="#"><img id="logo" src="~/MainLaout/img/th (2).jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-action="index" asp-controller="Home">اصلی صفحه<span class="sr-only">(current)</span></a>
            </li>
            <partial name="_LoginPartial" />

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    خدمات
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-action="booking" asp-controller="Hospitals">امبولانس</a>
                    <a class="dropdown-item"   asp-action="index" asp-controller="FireTrackService">اطفایه</a>
                    <a class="dropdown-item" asp-action="booking" asp-controller="Hospitals">ډاکټر</a>
                </div>
            </li>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("hospital"))
            {

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-lg color-black-opacity-5"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="index" asp-controller="Dashboard" asp-area="hospital_"><i class="fa fa-cog fa-lg"></i> اصلی صفحه</a>
                        <a class="dropdown-item" asp-action="Edit" asp-controller="Profile" asp-area="hospital_"><i class="fa-solid fa-user"></i> معلومات</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="Identity"><i class="fa fa-sign-out fa-lg"></i> وتل</a>
                    </div>
                </li>
            }
            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))

            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-lg color-black-opacity-5"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="index" asp-controller="Dashboard" asp-area="Customer"><i class="fa fa-cog fa-lg"></i> اصلی صفحه</a>
                        <a class="dropdown-item" asp-action="Edit" asp-controller="Profile" asp-area="hospital_"><i class="fa-solid fa-user"></i> معلومات</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="Identity"><i class="fa fa-sign-out fa-lg"></i> وتل</a>
                    </div>
                </li>


            }
            else if (SignInManager.IsSignedIn(User) && User.IsInRole("Fire"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-lg color-black-opacity-5"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="index" asp-controller="Dashboard" asp-area="FireTrackK"><i class="fa fa-cog fa-lg"></i> اصلی صفحه</a>
                        <a class="dropdown-item" asp-action="Edit" asp-controller="Profile" asp-area="hospital_"><i class="fa-solid fa-user"></i> معلومات</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="Identity"><i class="fa fa-sign-out fa-lg"></i> وتل</a>
                    </div>
                </li>

            }

            else if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-lg color-black-opacity-5"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="index" asp-controller="Dashboard" asp-area="Customer"><i class="fa fa-cog fa-lg"></i> اصلی صفحه</a>
                        <a class="dropdown-item" asp-action="Edit" asp-controller="Profile" asp-area="hospital_"><i class="fa-solid fa-user"></i> معلومات</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="Identity"><i class="fa fa-sign-out fa-lg"></i> وتل</a>
                    </div>
                </li>
           

            }
        </ul>
    </div>
</nav>


