@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
    <!DOCTYPE html>
    <html lang="a" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
        <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/MainLaout/css/main.css" rel="stylesheet" />
        <link href="~/MainLaout/css/StyleSheet.css" rel="stylesheet" />
        <link href="~/toastr.js/toastr.css" rel="stylesheet" />
        <title>امرجنسي</title>
    </head>
        <body>
           
                <partial name="_header" />
     

                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <partial name="_footer" />

                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/toastr.js/toastr.min.js"></script>
                @await RenderSectionAsync("Scripts", required: false)
        </body>
</html>
