@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Emergency</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
 

    <link rel="stylesheet" href="~/MainLayout/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/MainLayout/css/jquery-ui.css">

    <link rel="stylesheet" href="~/MainLayout/css/style.css">
    <link href="~/css/s.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <partial name="_header" />


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_footer" />

    <script src="~/MainLayout/js/jquery-3.3.1.min.js"></script>
    <script src="~/Admin/js/popper.min.js"></script>
    <script src="~/MainLayout/js/jquery-ui.js"></script>
    <script src="~/MainLayout/js/bootstrap.min.js"></script>
    <script src="~/MainLayout/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
