@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
      
    }
    else
    {
        <li  class="nav-item">
            <a  class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Regester">نوی یاست</a>
        </li>
        <li  class="nav-item">
            <a   class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">ننوتل</a>
        </li>
    }

