@model Kemergency.ViewModels.NewHospitalViewModel

<div class="container signin-container">
    <div class="row">
        <div class="col"></div>

        <div class="col-sm-12 col-md-8">
            <div class="card signin-card">
                <div class="card-body">
                    <form id="myForm" > @*asp-action="CreateRentals" asp-controller="NewRentals" class="signin-form">*@
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input disabled asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ServicesName" class="control-label"></label>
                            <input disabled asp-for="ServicesName" class="form-control" />
                            <span asp-validation-for="ServicesName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input disabled asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephone" class="control-label"></label>
                            <input disabled asp-for="Telephone" class="form-control" />
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NumberOfAmbuliance" class="control-label"></label>
                            <input asp-for="NumberOfAmbuliance" class="form-control" />
                            <span asp-validation-for="NumberOfAmbuliance" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input  id="mysubmit" value="خدمات راوغواړي" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

@section Scripts{
    <script>

        //$(document).ready(function () {
        //    $("#sampleTable").DataTable();
        //})

        //var ShowEmployee = function (employeeId) {

        //    var url = "/customer/Booking/Details?Id=" + employeeId;

        //    $("#myModalBodyDiv").load(url, function () {
        //        $("#myModal").modal("show");

        //    })
        $(document).ready(function () {

            $("#mysubmit").click(function () {

                var data = $("#myForm").serialize();

                $.ajax({

                    type: "post",
                    url: "/NewRentals/CreateRentals",
                    data: data,

                    success: function (response) {
                        if (response.success) {
                            toastr.success("تا سو خدمات ونیول")
                        } else {
                            toastr.error("تا سو خدمات ونه نیول سول ")
                        }


                    }

                })

            })

        })



    </script>

} 