<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
         
        </div>
      
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="widget-small primary coloured-icon">
                <i class="icon fa fa-ambulance fa-3x"></i>
                <div class="info">
                    <h4>Total booking</h4>
                    <p><b>@ViewBag.Appointments</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget-small info coloured-icon">
                <i class="icon fa fa-backward fa-3x"></i>
                <div class="info">
                    <h4>canceld</h4>
                    <p><b>0</b></p>
                </div>
            </div>
        </div>
      
    </div>
  

</main>